.container { 
    width: 600px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(red, green, blue, alpha);
    background-color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}

.tag, .location {
    font-size: 16px;
    color: #888888;
    margin: 0;
    padding: 5px;
}


.stats {
    display: flex; 
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #f3f3f3;
    border-top: 1px solid #e4e4e4; 
    border-bottom: 1px solid #e4e4e4; 
}


.stats li {
    flex-basis: 33.33%; 
    text-align: center;
    padding: 15px 0; 
    
    border-right: 1px solid #e4e4e4; 
}


.stats li:last-child {
    border-right: none;
}


.stats li span:first-child {
    display: block;
    font-size: 14px;
    color: #888888;
    margin-bottom: 4px; 
}

.stats li span:last-child {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}


