.friendsList {
  list-style: none; 
  padding: 0;
  margin: 0;

  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 20px; 
}

.friendItem {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  width: 150px; 
  margin: 10px;
  padding: 15px;
  
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  list-style: none; 
}


.avatar {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  border-radius: 50%;
}


.name {
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}



.statusText {
  font-size: 1.9em;
  font-weight: 500;
}


.online {
  color: #008000; 
}


.offline {
  color: #ff0000; 
}